Práctica_evaluable_Tema11/Práctica_evaluable_Tema11/componentes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="listacomponentes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="componente" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="marca" type="xs:string"></xs:element>
                            <xs:element name="modelo" type="xs:string"></xs:element>
                            <xs:element name="precio" type="precios"></xs:element>
                            <xs:element name="categoria" type="tipocategorias"></xs:element>
                            <xs:choice>
                                <xs:element name="stock" type="xs:unsignedShort" minOccurs="0"></xs:element>
                                <xs:element name="cantidad" type="xs:unsignedShort" minOccurs="0"></xs:element>
                            </xs:choice>
                            <xs:element name="fecha_alta" type="xs:date"></xs:element>
                            <xs:element name="garantia" type="tipogarantia" minOccurs="0"
                                maxOccurs="unbounded"></xs:element>
                            <xs:element name="color" type="xs:string" minOccurs="0"></xs:element>
                            <xs:element name="cliente_reserva" type="clienteDeReserva" minOccurs="0"
                                maxOccurs="2"></xs:element>
                            <xs:element name="extras" type="xs:string" minOccurs="0" maxOccurs="2"></xs:element>

                        </xs:sequence>
                        <xs:attribute name="tipo" type="tipoDeatributo" use="required"></xs:attribute>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="tipocategorias">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CPU"></xs:enumeration>
            <xs:enumeration value="GPU"></xs:enumeration>
            <xs:enumeration value="RAM"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipoDeatributo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CPU"></xs:enumeration>
            <xs:enumeration value="GPU"></xs:enumeration>
            <xs:enumeration value="RAM"></xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="precios">
        <xs:restriction base="xs:float">
            <xs:minExclusive value="1"></xs:minExclusive>
            <xs:maxExclusive value="300"></xs:maxExclusive>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tipogarantia">
        <xs:restriction base="xs:unsignedShort">
            <xs:minExclusive value="6"></xs:minExclusive>
            <xs:maxExclusive value="60"></xs:maxExclusive>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="clienteDeReserva">
        <xs:restriction base="xs:string">
            <xs:pattern value="\d{8}[A-Z]"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
<!-- Antonio Lizana Palomino--> 